nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
}
nav .menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.btn {
  background-color: #3db683;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  padding: 12.5px 16px;
  cursor: pointer;
}
.banner {
  background: url(../assets/hero-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  max-width: 1600;
  padding-top: 10px;
  padding-bottom: 184px;
}
.banner-content {
  max-width: 1360px;
  display: block;
  justify-content: center;
  align-items: center;
}
.banner-content h2 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}
.banner-heading {
  color: #30b868;
  margin-bottom: 0;
  /* border: 2px solid red; */
  margin-bottom: 5px;
}
.banner-content p {
  color: white;
  /* border: 2px solid red; */
  margin-bottom: 32px;
}
.banner-btn {
  margin-left: 80px;
}
