nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
}
nav .menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.btn {
  background-color: #3db683;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  padding: 12.5px 16px;
  cursor: pointer;
  /* text-align: center; */
}
.btn-1 {
  background-color: black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  padding: 12.5px 16px;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
}
.banner {
  background: url(../assets/hero-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  max-width: 1600;
  padding-top: 10px;
  padding-bottom: 184px;
}
.banner-content {
  max-width: 1360px;
  /* display: block;
  justify-content: center;
  align-items: center; */
  text-align: center;
  padding-top: 3rem;
}
.banner-content h2 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}
.banner-content h3 {
  width: 250px;
  font-size: 20px;
  color: #30b868;
  background-color: white;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: o;
  text-align: center;
  margin-left: 10rem;
  padding: 0.5rem;
}
.banner-heading {
  color: #30b868;
  margin-bottom: 0;
  /* border: 2px solid red; */
  margin-bottom: 5px;
}
.banner-content p {
  color: white;
  /* border: 2px solid red; */
  margin-bottom: 32px;
}
.about {
  padding-top: 5px;
  background-color: #627382;
}
.about-container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
}
.about-info {
  display: flex;
  justify-content: space-around;
}
.info-card img {
  background-color: red;
  border-radius: 2rem;
  padding: 0.5rem;
}
.info-card h4 {
  font-size: 24px;
  font-weight: 700;
  color: #001931;
}
.info-card p {
  font-size: 16px;
  color: #627382;
}
.brain {
  padding-top: 5px;
  background-color: #ffffff;
}
.brain-container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  /* padding: 131px 156px; */
  display: flex;
  justify-content: space-between;
}
.brain-content {
  text-align: left;
}
.brain-content h2 {
  color: #469165;
  font-size: 16px;
  margin-top: 0;
  font-weight: 500;
}
.brain-content h1 {
  color: #001931;
  font-size: 48px;
}
.brain-content h6 {
  color: #627382;
}
.brain-list {
  text-align: left;
  font-size: 20;
  font-weight: bold;
  
}
.brain-list p{
  color: #001931;

}